.searchIcon {
  width: 2rem;
  height: 2rem;
  background-color: rgb(64, 64, 64);
  padding: 0.2rem;
  margin-left: 0;
  padding-right: 0.4rem;
  /* border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem; */
}

.searchIcon:hover {
  cursor: pointer;
}

.searchInput {
  border: none;
  margin: none;
  padding: 0.2rem;
  width: 16rem;
  height: 2rem;
  font-size: 1.2rem;
  border: none;
  /* border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem; */
  border-radius: 0;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: rgb(64, 64, 64);
  color: white;
}

.searchOpen {
  margin-left: 50%;
  position: relative;
  top:  40vh;
  height: fit-content;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.hide {
  display: none;
}

.dropdownWrapper {
  /* width: 99vw; */
}

.dropupWrapper {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: dropup 0.2s normal 0s 1 ease-in-out;
  /* width: 90vw; */
  transform-origin: 50% 0%;
}

.dropdownWrapper:hover {
  cursor: pointer;
}

.dropdownInnerWrapper {
  background-color: rgb(49, 49, 49);
  border: none;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  width: 2rem;
  height: 1.2rem;
  margin: auto;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  
  border-top: 0.6rem solid rgb(154, 154, 154);
}

.dropdown:hover {
  cursor: pointer;
}

.dropup {
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  
  border-bottom: 0.6rem solid rgb(154, 154, 154);
}

.dropup:hover {
  cursor: pointer;
}

.searchWrapper, .additionalShowSearch {
  display: flex;
  flex-flow: row;
  border-radius: 0.6rem;
  overflow: hidden;
  /* border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem; */
}

.additionalShowSearch {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.additionalShow {
  animation: open 0.1s normal forwards ease-in-out;
  animation-name: open;
  animation-duration: 0.2s;
  background-color: rgb(49, 49, 49);
  width: 18.4rem;
  padding: 0.5rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  transform-origin: 50% 0%;
}

.additionalHide {
  animation: close 0.1s normal forwards ease-in-out;
  height: 0;
  background-color: rgb(49, 49, 49);
  width: 18.4rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  transform-origin: 50% 0%;
}

.optionsBlock {
  display: flex;
  flex-flow: column;
  margin-right: 1rem;
}

.map {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.contentWrapper {
  position: absolute;
  top: 0;
}

@keyframes open {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1)
  }
}

@keyframes close {
  from {
    transform: scaleY(1)
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes dropup {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}