.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  left: 0.11rem;
  bottom: 0.11rem;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(255, 195, 100);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(255, 195, 100);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.row {
  display: flex;
  flex-flow: row;
}

.label {
  margin-left: 0.2rem;
}