body {
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  color: #FFC364;
}

noscript {
  margin: auto;
  color: #FFC364;
  background-color: rgb(42, 42, 42);
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
}